body{
    box-sizing: border-box;
}
.all{
    background-color: lightcoral;
    margin-left: 100px;
    margin-right: 100px;
    width: fit-content;
    height: fit-content;
}
.pu{
    margin: auto;
    width: 300px ;
}
.pu h1{
    color: brown;
    text-align: center;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    padding-top: 30px;
}
.pu h3{
    text-align: center;
    font-size: 35px;
    margin-top: 1px;
}
.pu img{
     height: 300px;
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
}
.me{
    text-align: center;
}
.pp{
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 30px;
}